.hed{
    border: 3px red solid;
    background-color: aliceblue;
    color: blueviolet;
    width: 300px;
    height: 80px;
    padding: 20px;
    align-items: center;
    align-content: center;
    text-shadow: 2px 2px 2px;
    border-radius: 20px;
    box-shadow:2px 2px 2px ;
}
.parent{
    display: grid;
   grid-template-columns: auto auto;
   gap: 800px;
   border: 5px solid green;
   
}
.child{
    margin:5px ;
    width: 270px;
    height: 200px;
    border: 5px solid red;
    color: rgb(117, 42, 187);
    text-shadow: 2px 2px 2px;
    border-radius: 20px;
    box-shadow:2px 2px 2px ;
    font-size: 25px;
    background-color: antiquewhite;
}
.test{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.fix{
    border:5px solid red;
            border-radius: 20px;
            background-color: yellowgreen;
            color:red;
            position: fixed;
            width:380px;
            height:70px;
            margin-left:35%;
            font-style: italic;
            box-shadow: 8px 8px 0px rgb(134 51 65);
    
}
.bot{
    background-color: darkgreen;
    border: 5px violet solid;
    height: 620px;
    width: 625px;
}
.last{
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;
}
.end{
 
    background-color:orange ;
   width: 300px;
    gap: 20px;
    height: 250px;
    word-wrap: break-word;
    margin: 5px;
}
.ll{
   grid-row: 2 / span 3 ;
   grid-column:1 / span 3 ;
   width:616px ;
}
body{
    background-color: aquamarine;
}